* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
}
main {
  width: 100%;
  max-width: 900px;

  margin-inline: auto;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
}

.container {
  position: relative;
  width: 100%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
}

.container .item {
  top: 0;
  left: 0;
  transition-duration: 800ms;
}

img {
  width: 100%;
}

button {
  padding: 10px;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
  background-color: rgb(218, 153, 34);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.548) 0 0 7px 0;
  transform: scale(1.1);
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pintrestCard > img {
  border-radius: 10px;
}
.pintrestCard .profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
}
.pintrestCard .pfp {
  width: 3em;
  border-radius: 50%;
}
.pintrestCard .username {
  font-size: 1rem;
  font-weight: 400;
}

.pintrestCard .titleWrap {
  height: 50px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  word-break: break-word;
}
.pintrestCard .title {
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  display: block;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}
